<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gtsoft.works.test.repository.TestRepository">

	<select id="selectGtUser" parameterType="hashMap" resultType="TestDTO">
		SELECT	USER_ID
				, USER_NM
				, USER_HP
				, USER_DEPT
				, USER_PW
		FROM	study_db.GT_USER
		WHERE	1=1
		<if test='userId != null and !"".equals(userId)'>
		AND 	USER_ID = #{userId}
		</if>
	</select>

</mapper>